<div class="row main-block">
  <div class="small-12 small-centered columns">
    <h2><%= @name %></h2>
    <h3><%= @address %>
    </h3>
    <%= image_tag(@rating) %>
    <%= image_tag(@image) %>
    </h3>
  </div>
</div>
