.title-bar {
  background: #91d4d1;
  color: #fff;
  padding: 4em;
  text-align: center;
}

.footer-bar {
  background: #d2e5eb;
  padding: 4em;
}
.footer-bar h2, .footer-bar h3 {
  color: #222222;
}

.title-bar h1 {
  color: #fff;
  font-size: 5em;
  text-align: center;
}
