body {
	background-image: url(table.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #1a0d00;
	color: rgb(252, 221, 191);
}

.top-bar .name h1 a {
	color: rgb(252, 221, 191);
	font-size: 2em;
}

.top-bar-section ul li > a {
	color: rgb(252, 221, 191);
}

.left-off-canvas-menu {
	background-color: rgba(0,0,0,0);
}

.move-right .exit-off-canvas, .move-left .exit-off-canvas {
	box-shadow: none;
	background: none;
}

.move-right .exit-off-canvas:hover, .move-left .exit-off-canvas:hover {
	background: none;
}

$topbar-bg-color: transparent;

.top-bar {
	background-color: rgba(0,0,0,0);
}

.top-bar .name:hover {
	background-color: rgba(222,163,103,0.2);
}

.top-bar-section li{
	background-color: rgba(0,0,0,0) !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: rgba(0,0,0,0);
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: rgba(222,163,103,0.2);
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background-color: rgba(0,0,0,0);
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background-color: rgba(222,163,103,0.2);
}

#sliderOutput1, #sliderOutput2 {
	background-color: rgba(222,163,103,0.8);
}

.range-slider.radius{
	background: rgba(203, 147, 92, 0.8);
	border: 1px solid rgba(203, 147, 92, 0.8);
}

.range-slider-active-segment {
	background: rgba(203, 147, 92, 0.8);
}

.range-slider.radius .range-slider-handle {
	background: rgb(252, 221, 191);
}

.range-slider.radius .range-slider-handle:hover {
	background: rgb(252, 221, 191);
}

.content{
	padding-top:2em;
	padding-bottom:2em;
}

.button {
	background-color: rgba(222,163,103,0.6);
	color: rgb(252, 221, 191);
	border-color: rgb(252, 221, 191);
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: rgba(222,163,103,0.8);
	color: rgb(252, 221, 191);
	border-color: rgb(252, 221, 191);
	outline: 0;
}

#new_search{
	display: none;
}

#business-details{
	background-color: rgba(222,163,103,0.8);
	color: rgb(252, 221, 191);
	padding:1em;
	margin-bottom: 1em;
}

#business-details a {
	color: rgb(252, 221, 191);
}

.pic {
	width: 250px; 
	height: 200px;
	overflow:hidden;
}
