body {
	background-image: url(table.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #1a0d00;
	color: rgb(252, 221, 191);
}

.tab-bar section.left h1 a {
	color: rgb(252, 221, 191);
	padding-left: 1em;
}

.tab-bar .menu-icon span::after {
	box-shadow: 0 0 0 1px rgb(252, 221, 191),
	0 7px 0 1px rgb(252, 221, 191),
	0 14px 0 1px rgb(252, 221, 191);
}

@media only screen and (max-width: 40em) {
	.tab-bar section.left h1 a {
		font-size: 1em;
	}
}
@media only screen and (min-width: 40.063em) {
	.tab-bar section.left h1 a {
		font-size: 2em;
	}
}

.left-off-canvas-menu {
	background-color: rgba(0,0,0,0);
}

.move-right .exit-off-canvas, .move-left .exit-off-canvas {
	box-shadow: none;
	background: none;
}

.move-right .exit-off-canvas:hover, .move-left .exit-off-canvas:hover {
	background: none;
}

aside {
	padding-top: 3em;
}

aside a, aside p {
	padding-left: 1em;
}

.tab-bar {
	background-color: rgba(0,0,0,0);
}

#sliderOutput1, #sliderOutput2 {
	background-color: rgba(222,163,103,0.8);
}

.range-slider.radius{
	background: rgba(203, 147, 92, 0.8);
	border: 1px solid rgba(203, 147, 92, 0.8);
}

.range-slider-active-segment {
	background: rgba(203, 147, 92, 0.8);
}

.range-slider.radius .range-slider-handle {
	background: rgb(252, 221, 191);
}

.range-slider.radius .range-slider-handle:hover {
	background: rgb(252, 221, 191);
}

.content{
	padding-top:2em;
	padding-bottom:2em;
}

.button {
	background-color: rgba(222,163,103,0.6);
	color: rgb(252, 221, 191);
	border-color: rgb(252, 221, 191);
}

button:hover, button:focus, .button:hover, .button:focus {
	background-color: rgba(222,163,103,0.8);
	color: rgb(252, 221, 191);
	border-color: rgb(252, 221, 191);
	outline: 0;
}

#input-box {
	background-color: rgba(69, 45, 22, 0.3);
	border-radius: 1em;
	color: white;
	padding: 1em;
	margin-bottom: 1em;
}

#input-box input[type=submit] {
	margin-top: 2.3em;
	margin-left: 0.5em;
	border-radius: .5em;
}

#input-box input[type=text] {
	border-color: rgba(222,163,103,0.8);
	border-radius: .5em;
	background-color: rgba(222,163,103,0.8);
	color: rgb(252, 221, 191);
	font-size: 1em;
	margin-top: .2em;
}

#input-box h3 {
	color: rgb(252, 221, 191);
	font-size: 1.5em;
}

#new_search{
	display: none;
}

#business-details{
	background-color: rgba(222,163,103,0.8);
	color: rgb(252, 221, 191);
	padding:1em;
	margin-bottom: 1em;
}

#business-details a {
	color: rgb(252, 221, 191);
}

.pic {
	width: 250px; 
	height: 200px;
	overflow:hidden;
}
