body {
	background-image: url(table.jpg);
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
	background-color: #1a0d00;
}

.left-off-canvas-menu {
	background-color: rgba(0,0,0,0);
}

.move-right .exit-off-canvas, .move-left .exit-off-canvas {
	box-shadow: none;
	background: none;
}

.move-right .exit-off-canvas:hover, .move-left .exit-off-canvas {
	background: none;
}

$topbar-bg-color: transparent;

.top-bar {
	background-color: rgba(0,0,0,0);
}

.top-bar .name:hover {
	background-color: rgba(222,163,103,0.2);
}

.top-bar-section li{
	background-color: rgba(0,0,0,0) !important;
}

.top-bar-section li:not(.has-form) a:not(.button) {
	background-color: rgba(0,0,0,0);
}

.top-bar-section li:not(.has-form) a:not(.button):hover {
	background-color: rgba(222,163,103,0.2);
}

.top-bar-section li.active:not(.has-form) a:not(.button) {
	background-color: rgba(0,0,0,0);
}

.top-bar-section li.active:not(.has-form) a:not(.button):hover {
	background-color: rgba(222,163,103,0.2);
}

#sliderOutput1, #sliderOutput2 {
	background-color: rgba(222,163,103,0.8);
}

.content{
	padding-top:2em;
	padding-bottom:2em;
}

.button {
	background-color: rgba(222,163,103,0.6);
}

.button:hover {
	background-color: rgba(222,163,103,0.8);
}

#new_search{
 display: none;
}

#business-details{
 padding:1em;
 border: 1px solid #CCCCCC;
 margin-bottom: 1em;
}

.pic {
width: 250px; 
height: 200px;
overflow:hidden;
}
